<link rel="stylesheet" href="./css/stylesheets/cocktails.css" />

<div class="container col-md-12 col-lg-12" id="main">

  <h1 id="cocktailsHeader">Cocktails de Mezcal</h1>

  <!-- <div class="modal" id="videoModal">
    <div class="modal-content">
      <video muted poster="" width="100%" autoplay="true" id="video" loop>
        <source src="./css/pics_videos/GameVideo.mp4" type="video/mp4"/>
      </video>
    </div>
  </div> -->
</div>
<script type="text/javascript">
var modal = document.getElementById('videoModal');

  $(document).ready(function(){
    setTimeout(function(){
      modal.style.display = "block";
    }, 1000);
  })
  window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</div>

<div class="container col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" id="bodyOne">

  <div class="container col-md-7 col-lg-7" id="info">

    <h1 id="drinkHeader">Mezcal Madness</h1>

    <p id="cocktailInfo">
      <b>Ingredients</b><br />
      ・1 oz. Mezcal<br />
      ・3/4 oz. Aperol<br />
      ・1/2 oz. Fresh Lemon Juice<br />
      ・2-3 dashes Angostura Bitters<br />
      ・3 oz. Aperol<br />
      ・Lemon Peel for Garnish<br /><br />

      <b>Directions</b><br />
      Fill cocktail shaker with ice. Add mezcal, aperol, lemon juice, and bitters. Shake until well chilled, about 15 seconds. Fill rocks glass with fresh ice. Add club soda to glass and strain cocktail on top. Garnish with lemon peel.

    </p>

  </div>

  <div class="container col-xs-12 col-md-5 col-lg-5" id="mezcalMadnessPic">

  </div>

</div>

<div class="container col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" id="bodyTwo">

  <div class="container col-xs-12 col-md-5 col-lg-5" id="headHunterPic">

  </div>

  <div class="container col-md-7 col-lg-7" id="info">

    <h1 id="drinkHeader">The Head Hunter</h1>

    <p id="cocktailInfo">
      <b>Ingredients</b><br />
      ・1 oz. Mezcal<br />
      ・3/4 oz. Aperol<br />
      ・1/2 oz. Fresh Lemon Juice<br />
      ・2-3 dashes Angostura Bitters<br />
      ・3 oz. Aperol<br />
      ・Lemon Peel for Garnish<br /><br />

      <b>Directions</b><br />
      Fill cocktail shaker with ice. Add mezcal, aperol, lemon juice, and bitters. Shake until well chilled, about 15 seconds. Fill rocks glass with fresh ice. Add club soda to glass and strain cocktail on top. Garnish with lemon peel.
    </p>

  </div>

</div>

<div class="container col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" id="bodyThree">

  <div class="container col-md-7 col-lg-7" id="info">

    <h1 id="drinkHeader">Forgotten Prodigy</h1>

    <p id="cocktailInfo">
      <b>Ingredients</b><br />
      ・1 oz. Mezcal<br />
      ・3/4 oz. Aperol<br />
      ・1/2 oz. Fresh Lemon Juice<br />
      ・2-3 dashes Angostura Bitters<br />
      ・3 oz. Aperol<br />
      ・Lemon Peel for Garnish<br /><br />

      <b>Directions</b><br />
      Fill cocktail shaker with ice. Add mezcal, aperol, lemon juice, and bitters. Shake until well chilled, about 15 seconds. Fill rocks glass with fresh ice. Add club soda to glass and strain cocktail on top. Garnish with lemon peel.
    </p>

  </div>

  <div class="container col-xs-12 col-md-5 col-lg-5" id="forgottenProdigyPic">

  </div>

</div>

<div class="container col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" id="bodyFour">

  <div class="container col-xs-12 col-md-5 col-lg-5" id="perxicanAssassinPic">

  </div>

  <div class="container col-md-7 col-lg-7" id="info">

    <h1 id="drinkHeader">Perxican Assassin</h1>

    <p id="cocktailInfo">
      <b>Ingredients</b><br />
      ・1 oz. Mezcal<br />
      ・3/4 oz. Aperol<br />
      ・1/2 oz. Fresh Lemon Juice<br />
      ・2-3 dashes Angostura Bitters<br />
      ・3 oz. Aperol<br />
      ・Lemon Peel for Garnish<br /><br />

      <b>Directions</b><br />
      Fill cocktail shaker with ice. Add mezcal, aperol, lemon juice, and bitters. Shake until well chilled, about 15 seconds. Fill rocks glass with fresh ice. Add club soda to glass and strain cocktail on top. Garnish with lemon peel.
    </p>

  </div>

</div>
