<link rel="stylesheet" href="./css/stylesheets/contact.css" />

<div class="container">

  <h1>Contact Us</h1>

</div>

<div class="container col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2" id="infoContainer">

  <p>
    Here are the guys responsible for bringing Mezcal to light here in the Bay Area. These guys spend weeks at a time in Oaxaca throughout the year to help Los Maestros make Mezcal, having first hand knowledge of the process from start to finish. Feel free to contact these two via email for any questions you may have about the world of Mezcal.
  </p>

</div>

<div class="container col-xs-10 col-md-8 col-lg-8 col-xs-offset-1 col-md-offset-1 col-lg-offset-1" id="steveContainer">

  <div class="container col-xs-4 col-md-3 col-lg-3" id="stevePic">

  </div>

  <div class="container col-xs-12 col-md-8 col-lg-8 col-md-offset-1 col-lg-offset-1" id="steveInfo">

    <h2>Steven Sadri</h2><br />

    <p>
      "I came here to eat bananas and fuck bitches, and I'm all out of bananas"
    </p>

  </div>

</div>

<div class="container col-xs-10 col-md-8 col-lg-8 col-xs-offset-1 col-md-offset-3 col-lg-offset-3" id="otherContainer">

  <div class="container col-xs-12 col-md-8 col-lg-8" id="otherInfo">

    <h2>Count Chocula</h2><br />

    <p>
      "We didn't land on Plymouth Rock, Plymouth Rock landed on us!"
    </p>

  </div>

  <div class="container col-xs-4 col-md-3 col-lg-3 col-xs-offset-8 col-md-offset-1 col-lg-offset-1" id="otherPic">

  </div>

</div>
