<link rel="stylesheet" href="./css/stylesheets/homepage.css">

<!-- CircleType.js -->

<div class="container col-md-12 col-lg-12" id="main">

  <h1>La Misa de Mezcal</h1>

</div>

<div class="container col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" id="bodyTwo">

  <div class="container col-md-7 col-lg-7" id="info">

    <h1 id="firstHeader">What is Mezcal?</h1>

    <p id="mezcalInfo">
      Mezcal is a distilled alcholic beverage made from any type of agave plant native to Mexico. The agave grows in most parts of Mexico, though most Mezcal is made in Oaxaca. Today, mezcal is still made from the heart of the agave plant called the pína, much the same way it was 200 years ago, in most places.
    </p>

  </div>

  <div class="container col-xs-12 col-md-5 col-lg-5" id="agavePic">

  </div>

</div>

<div class="container col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" id="bodyThree">

  <div class="container col-xs-12 col-md-5 col-lg-5" id="cocktail">

  </div>

  <div class="container col-md-7 col-lg-7" id="info">

    <h1 id="firstHeader">Cocktails</h1>

    <p id="mezcalInfo">
      If you like tequila but wish it had more oomph, it's time to dig into the wider world of mezcal, the category of Oaxacan agave spirits that includes tequila but also other more smoky and brawny elixirs. Though traditionally drank straight, mezcal's intense smokiness and slight savory edge make it especially compelling in cocktails. Herbal, spicy, tart, and bittersweet, these 15 playful drinks show everything mezcal has to offer.
    </p>

  </div>

</div>

<div class="container col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" id="bodyFour">

  <div class="container col-md-7 col-lg-7" id="info">

    <h1 id="firstHeader">News Stand</h1>

    <p id="mezcalInfo">
      Get updated on the latest news about new Mezcal products straight from los maestros themselves. Be the first to get tasting notes about the new Mezcal and feel like an expert in front of your friends before it even hits the shelves in the U.S..
    </p>

  </div>

  <div class="container col-xs-12 col-md-5 col-lg-5" id="newsPic">

  </div>

</div>

<div class="container col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" id="bodyFive">

  <div class="container col-xs-12 col-md-5 col-lg-5" id="cocktail">

  </div>

  <div class="container col-md-7 col-lg-7" id="info">

    <h1 id="firstHeader">Contact</h1>

    <p id="mezcalInfo">
      If you like tequila but wish it had more oomph, it's time to dig into the wider world of mezcal, the category of Oaxacan agave spirits that includes tequila but also other more smoky and brawny elixirs. Though traditionally drank straight, mezcal's intense smokiness and slight savory edge make it especially compelling in cocktails. Herbal, spicy, tart, and bittersweet, these 15 playful drinks show everything mezcal has to offer.
    </p>

  </div>

</div>
