<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <ul class="navList">
      <li><a ui-sref="index">La Misa de Mezcal</a></li>
      <li><a ui-sref="about">About Mezcal</a></li>
      <li id="dropdown"><a class="dropbtn">Agaves</a>
      <div class="dropdown-content">
        <a ui-sref="salmiana">Salmiana</a>
        <a ui-sref="tobaziche">Tobaziche</a>
        <a ui-sref="arroqueno">Arroqueno</a>
        <a ui-sref="cupreata">Cupreata</a>
        <a ui-sref="tobala">Tobala(Potatorum)</a>
      </div></li>
      <li><a ui-sref="cocktails">Cocktails</a></li>
      <li><a ui-sref="contact">Contact</a></li>
    </ul>
</nav>
