body{
  background-color: black;
}

#picContainer{
  background-color: green;
  height: 400px;
  margin-top: 50px;
  border: 3px solid white;
}

#infoContainer{
  background-color: orange;
  height: 400px;
  margin-top: 50px;
  border: 3px solid white;
}

#mapContainer{
  background-color: purple;
  height: 800px;
  margin-top: 50px;
  border: 3px solid white;
  margin-bottom: 100px;
}
